{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shipper</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shipper.id }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ shipper.companyName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ shipper.phone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shippers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shippers_edit', { 'id': shipper.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
